BasedOnStyle: Google

Language: Cpp
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty

UseTab: Always
IndentWidth: 4
TabWidth: 4

NamespaceIndentation: All

#SortIncludes: true
#IncludeBlocks: Regroup

PointerAlignment: Left
DerivePointerAlignment: false

AccessModifierOffset: -4
ContinuationIndentWidth: 4

FixNamespaceComments: true